body {
  background: black;
}

#channelTable {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

#channelDisplay {
  height: auto;
  width: 40%;

  border-radius: 20px;
  background: darkgrey;

  margin-left: auto;
  margin-right: auto;
}

.panel {
  display: none;
  background: #c9c9c9;
  padding: 30px;
  border-radius: 0 0 10px 10px;
}

.tab-panels .panel.active {
  display: block;
}